.error-wrap {
	line-height: 1.8em;
	text-align: center;
	margin: 40px 0;
}

.error-head {
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
}

.error-sub {
	font-size: 24px;
	margin: 0 0 40px 0;
}

.error-msg {
	font-size: 18px;
}

.error-msg a {
	font-weight: 500;
}

.error-msg a:hover {
	color: #f90;
}

.search-error {
	color: red;
	display: none;
}

.filter .filter__item {
	margin: 20px 0 0 0 !important;
}

/* 
	----------------------------------------------------------------
	1400px snap
	----------------------------------------------------------------
*/

@media (max-width: 1400px) {

}

/* 
	----------------------------------------------------------------
	1200px snap
	----------------------------------------------------------------
*/

@media (max-width: 1200px) {

}

/* 
	----------------------------------------------------------------
	1000px snap
	----------------------------------------------------------------
*/

@media (max-width: 1000px) {

}

/* 
	----------------------------------------------------------------
	800px snap
	----------------------------------------------------------------
*/

@media (max-width: 800px) {

}

/* 
	----------------------------------------------------------------
	480px snap
	----------------------------------------------------------------
*/

@media (max-width: 480px) {

}