.about-wrap {
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	gap: 20px;
	align-items: center;
	margin: 0 0 20px 0;
}

.main-text {
	line-height: 1.5em;
	margin-bottom: 40px;
}

.main-text strong {
	font-weight: 600;
}

.main-text p {
	margin: 10px 0;
}

.main-text a {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.main-text a:hover {
	color: #ff9900;
}

.main-image img {
	display: block;
	margin: 20px auto;
}

/* 
	----------------------------------------------------------------
	1400px snap
	----------------------------------------------------------------
*/

@media (max-width: 1400px) {

}

/* 
	----------------------------------------------------------------
	1200px snap
	----------------------------------------------------------------
*/

@media (max-width: 1200px) {

}

/* 
	----------------------------------------------------------------
	1000px snap
	----------------------------------------------------------------
*/

@media (max-width: 1000px) {

	.about-wrap {
	    grid-template-columns: 1.3fr .7fr;
	    align-items: start;
	}

	.about-wrap .column.main-image img {
		width: 100%;
		display: block;
	}

}

/* 
	----------------------------------------------------------------
	800px snap
	----------------------------------------------------------------
*/

@media (max-width: 800px) {

	.about-wrap {
	    display: block;
	}

	.about-wrap .column.main-image img {
		max-width: 300px;
		margin: 0 auto;
	}

}

/* 
	----------------------------------------------------------------
	480px snap
	----------------------------------------------------------------
*/

@media (max-width: 480px) {

}